svg {
  g {
    text {
      font: bold 24px white monospace;
    }
    circle {
      transition: all 0.15s ease-in-out;
    }
    path {
      pointer-events: none;
    }
    &:hover circle {
      fill: gray;
    }
  }
}

:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
}
