/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-cyan-palette,
    ),
  )
);

$light-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-cyan-palette,
    ),
  )
);

* {
  scrollbar-width: thin;
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  scrollbar-color: mat.get-theme-color($dark-theme, secondary-container)
    transparent;

  .mat-pseudo-checkbox {
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: mat.get-theme-color(
      $dark-theme,
      primary-container
    );
  }
}

.light-theme {
  @include mat.all-component-colors($light-theme);
  scrollbar-color: mat.get-theme-color($light-theme, secondary-container)
    transparent;

  .mat-pseudo-checkbox {
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: mat.get-theme-color(
      $light-theme,
      primary-container
    );
  }
}

html,
body {
  height: 100%;
}
.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

.mdc-snackbar__surface {
  padding-right: 4px !important;
}
